RewriteEngine On
RewriteBase "/QR-code generator/"

RewriteCond %{DOCUMENT_ROOT}/QR-code\ generator/public/$1 -f
RewriteRule ^public/(.*)$ public/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/QR-code\ generator/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]